* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-size: 14px;
}

#main {
  overflow: auto;
  padding-bottom: 40px;
  padding-top: 20px;
  /* must be same height as the footer */
}

#footer {
  position: relative;
  margin-top: -40px;
  /* negative value of footer height */
  height: 40px;
  padding-top: 5px;
  padding-left: 10px;
}

code.footer {
  color:#464c56
}

span {
  margin-left: 5px;
}

div.col-auto {
  padding-left: 10px;
  padding-right: 0px;
}

label.col-form-label {
  padding-bottom: 0px;
  padding-top: 0px;
}

.nav-item {
  color: white;
  font-size: 14px;
  }

.nav-link {
  color: white;
  }

.left_footer {
  width: 40%;
  float: left;
  text-align:left;
  display: inline-block;
}

.right_footer {
  width: 40%;
  float: right;
  text-align:right;
  display: inline-block;
}

.center_footer {
  width: 20%;
  overflow: hidden;
  display: inline-block;
  text-align: center;
}

div#navbar_links {
  display: flex;
}

.container {
    max-width: none;
}

th.footer {
  font-size:12px;
  padding: 3px;
  font-weight: bold;
  text-align: center;
  background-color: #464c56;
  color: white;
  min-width: 90px;
}

td.footer {
  font-size:12px;
  padding: 3px;
  text-align: center;
  color: #464c56;
  font-weight: bold;
  font-family: Courier New;
}

code.footer {
  color:#464c56;
}

.list-group#block{
      display:inline-block;
      min-width: 300px;
 }