@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$primary: #008080;
$secondary: #f97316;

// merge with existing $theme-colors map
$theme-colors: map-merge(
  $theme-colors,
  (
    'primary': $primary,
    'secondary': $secondary,
  )
);

// override btn-outline-primary hover bg-color
.btn-outline-primary {
  &:hover {
    color: $primary !important;
    background-color: #00808024 !important;
    border-color: $primary;
  }
}

// set changes
@import 'bootstrap';

a {
  color: $primary;
}

.nav-link {
  color: $primary;
}

.nav-link {
  .active {
    background-color: $primary !important;
  }
  &:hover {
    color: $primary;
  }
}

.active {
  background-color: $primary !important;
}

@media (min-width: 768px) {
  .h80 {
    height: 80vh;
  }
}

.border-dashed {
  border-style: dashed !important;
}

.b2b-drop-zone {
  &:hover {
    background-color: $light !important;
  }
}

.hover-border-primary {
  &:hover {
    border-color: $primary !important;
  }
}

.max-cell-width {
  width: 12rem !important;
}

// tailwind transition class
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.landing-animation-container {
  height: 32rem;
}

.landing-code-snippet-container {
  height: 16rem;
}

.landing-main-logo-shadow {
  -webkit-box-shadow: 0px 0px 122px 0px $primary;
  -moz-box-shadow: 0px 0px 122px 0px $primary;
  box-shadow: 0px 0px 122px 0px $primary;
}

.bed-splash-stat-card-height {
  min-height: 7rem;
}

.bed-splash-genomic-feature-bar-height {
  height: 27rem;
}

.bedset-splash-stat-card-height {
  min-height: 7rem;
}

.bedset-splash-genomic-feature-bar-height {
  height: 24rem;
}

.min-h-screen {
  min-height: 100vh;
}

.h-80 {
  height: 80%;
}

/*  This is for the nav bar */
.hidden {
  display: none;
}

.block {
  display: block;
}

.large-flex {
  @media (min-width: 1024px) {
    display: flex;
  }
}

.large-hidden {
  @media (min-width: 1024px) {
    display: none;
  }
}

.list-none {
  list-style: none;
}

// typewriter effect
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid $primary; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $primary;
  }
}

// some tailwind styles I like
.text-balance {
  text-wrap: balance !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animate-bounce {
  animation: bounce 1s infinite;
}

// Tailwind styles I like and that are extremely useful
.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.text-2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.text-3xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

.text-4xl {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}

.text-5xl {
  font-size: 3rem; /* 48px */
  line-height: 1;
}

.text-6xl {
  font-size: 3.75rem; /* 60px */
  line-height: 1;
}

.text-7xl {
  font-size: 4.5rem; /* 72px */
  line-height: 1;
}

.text-8xl {
  font-size: 6rem; /* 96px */
  line-height: 1;
}

.text-9xl {
  font-size: 8rem; /* 128px */
  line-height: 1;
}

.border-2 {
  border-width: 2px !important;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.moreinfo-tooltip > .tooltip-inner {
  max-width: none;
}

.small-font {
  font-size: 0.9rem; /* Adjust the value as needed */
}