<!doctype html>
<html>
	<head>
	{% block head %}
		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
		<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/jQuery-QueryBuilder/dist/css/query-builder.default.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
		<link rel="icon" type="image/vnd.microsoft.icon" href="static/bedbase_bug.ico">
		<title>bedhost - {% block title %}{% endblock %}</title>
		{% block morelibs%}{% endblock %}
	{% endblock %}
	</head>

	{% include "navbar.html" %}
	<div id="main">
		<body>
			{% block body %}{% endblock %}
			{% block content %}{% endblock %}
		</body>
	</div>
	<hr class="featurette-divider">
	<footer class="text-muted">
		{% include "footer.html" %}
	</footer>

</html>
