{% extends "base.html" %}
{% block title %}{{ bed_id }}{% endblock %}
{% block content %}
<div class="container">
 
  <div class="comtainer">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <h3>ID = {{ bed_id }}</h3>
      </div>
      <div class="col">
      </div>
    </div>
  </div>

  {% set bed_base_dir = url_for('bedfile_stats', path='') %}
  <table class="table table-borderless">
    <tbody>
      <tr>
        <td align="center">
          <a href="{{ bed_base_dir }}{{ bed_id }}/{{ bed_id }}_gccontent.pdf"><img src="{{ bed_base_dir }}{{ bed_id }}/{{ bed_id }}_gccontent.png" width=75%></img></a>
        </td>
        <td align="center">
          <a href="{{ bed_base_dir }}{{ bed_id }}/{{ bed_id }}_chrombins.pdf"><img src="{{ bed_base_dir }}{{ bed_id }}/{{ bed_id }}_chrombins.png" width=75%></img></a>
        </td>
        <td align="center">
          <a href="{{ bed_base_dir }}{{ bed_id }}/{{ bed_id }}_partitions.pdf"><img src="{{ bed_base_dir }}{{ bed_id }}/{{ bed_id }}_partitions.png" width=75%></img></a>
        </td>
        <td align="center">
          <a href="{{ bed_base_dir }}{{ bed_id }}/{{ bed_id }}_tssdist.pdf"><img src="{{ bed_base_dir }}{{ bed_id }}/{{ bed_id }}_tssdist.png" width=75%></img></a>
        </td>
      </tr>
      <tr>
        <td align="center"><b>GC Content</b></td>
        <td align="center"><b>Chrombins</b></td>
        <td align="center"><b>Partitions</b></td>
        <td align="center"><b>Distance</b></td>
      </tr>
    </tbody>
  </table>

  <div class="container">
    <div class="row">
      <div class="col">
        <table class="table table-sm">
          <tbody>
            <tr>
              <th scope="row">Number of regions</th>
              <td>{{ js.num_regions[0] }}</td>
            </tr>
            <tr>
              <th scope="row">GC Content</th>
              <td>{{ js.gc_content[0] }}</td>
            </tr>
            <tr>
              <th scope="row">Mean abs. TSS distance</th>
              <td>{{ js.mean_abs_tss_dist[0] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col">
        <table class="table table-sm">
          <thead>
            <tr>
              <th><i>Partition</i></th>
              <th><i>Freq</i></th>
              <th><i>Perc</i></th>
            </tr>
          </thead>
          <tbody>
            {% for partition in js.genomic_partitions %}
            <tr>
              <td>{{ partition.partition }}</td>
              <td>{{ partition.Freq }}</td>
              <td>{{ partition.Perc }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <table class="table table-sm">
          <tbody>
            <tr>
              <th scope="row">Cell type</th>
              <td>{{ js.cellType }}</td>
            </tr>
            <tr>
              <th scope="row">Cell subtype</th>
              <td>{{ js.cellTypeSubtype }}</td>
            </tr>
            <tr>
              <th scope="row">Antibody</th>
              <td>{{ js.antibody }}</td>
            </tr>
            <tr>
              <th scope="row">Mapping genome</th>
              <td>{{ js.mappingGenome }}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ js.description }}</td>
            </tr>
            <tr>
              <th scope="row">Tissue</th>
              <td>{{ js.tissue }}</td>
            </tr>
            <tr>
              <th scope="row">Species</th>
              <td>{{ js.species }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Raw bed file:</th>
              <td><a href={{ bed_url }}?format=bed>{{ bed_url }}?format=bed</a></td>
            </tr>
            <tr>
              <th scope="row">JSON metadata:</th>
              <td><a href={{ bed_url }}?format=json>{{ bed_url }}?format=json</a></td>
            </tr>
            <tr>
              <th scope="row">BED MD5 sum:</th>
              <td><code>{{ js.md5sum[0] }}</code></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col">
      </div>
    </div>
  </div>

</div>
{% endblock %}
