{% extends "base.html" %}
{% set bed_id = json['name'] %}
{% set bed_md5sum = json['md5sum'] %}
{% block title %}{{ bed_id }}{% endblock %}
{% block content %}
<div class="container">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>BED file: <code>{{ bed_id }}</code></h1>
      </div>
    </div>
  </div>
<div class="container">
<div class="row">
  <div class="col">
    <h2>Figures</h2>
  </div>
</div>
</div>
<div class="container">
    {% if "plots" in json %}
        <div class='row justify-content-start'>
            {% for figure in json["plots"] %}
                {% set i = loop.index - 1 %}
                <figure class="figure">
                    <a href='{{ bedstat_output }}/{{ bed_md5sum }}/{{ bed_id }}_{{ figure["name"] }}.pdf'>
                        <img id="fig" src='{{ bedstat_output }}/{{ bed_md5sum }}/{{ bed_id }}_{{ figure["name"] }}.png' class="figure-img img-fluid rounded" alt="">
                    </a>
                    <a href='{{ bedstat_output }}/{{ bed_md5sum }}/{{ bed_id }}_{{ figure["name"] }}.pdf'>
                        <figcaption class="figure-caption text-center"><b>Fig.{{ i }} </b><i>{{ figure["caption"] }}</i></figcaption>
                    </a>
                </figure>
            {% endfor %}
        </div>
    {% else %}
        <i>No plots available</i>
    {% endif %}
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Statistics</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-8">
      <ul id="block" class="list-group">
          {% for key, value in json.items() %}
            {% if key not in ["bedfile_path", "plots"] %}
                {% if key in descs.keys() %}
                    <li class="list-group-item"><b>{{ descs[key] }}: </b>{{ value }}</li>
                {% else %}
                    <li class="list-group-item"><b>{{ key }}: </b>{{ value }}</li>
                {% endif %}
            {% endif %}
          {% endfor %}
      </ul>
    </div>
    <div class="col-4">
      <h2>Links</h2>
      <ul>
        <li><a href='{{ bed_url }}&format=bed'>Raw bed file</a></li>
        <li><a href='{{ bed_url }}&format=json'>JSON metadata</a></li>
      </ul>
    </div>
  </div>
</div>

</div>
{% endblock %}

