{% extends "base.html" %}
{% set bed_id = json['name'] %}
{% set bed_md5sum = json['md5sum'] %}
{% block title %}{{ bed_id }}{% endblock %}
{% block content %}
<div class="container">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>BED set: <code>{{ bed_id }}</code></h1>
      </div>
    </div>
  </div>
<div class="container">
<div class="row">
  <div class="col">
    <h2>Figures</h2>
  </div>
</div>
</div>
<div class="container">
    {% if "plots" in json %}
        <div class='row justify-content-start'>
            {% for figure in json["plots"] %}
                <p>{{figure}}</p>
                {% set i = loop.index - 1 %}
                <figure class="figure">
                    <a href='{{ bedbuncher_output }}/{{ bed_md5sum }}/{{ bed_id }}_{{ figure["name"] }}.pdf'>
                        <img id="fig" src='{{ bedbuncher_output }}/{{ bed_md5sum }}/{{ bed_id }}_{{ figure["name"] }}.png' class="figure-img img-fluid rounded" alt="">
                    </a>
                    <a href='{{ bedbuncher_output }}/{{ bed_md5sum }}/{{ bed_id }}_{{ figure["name"] }}.pdf'>
                        <figcaption class="figure-caption text-center"><b>Fig.{{ i }} </b><i>{{ figure["caption"] }}</i></figcaption>
                    </a>
                </figure>
            {% endfor %}
        </div>
    {% else %}
        <i>No plots available</i>
    {% endif %}
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Statistics</h2>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-8" style="margin-left:10px">
            <div class="row">
                <h3>Average statistics</h3>
            </div>
            <div class="row">
                <ul id="block" class="list-group">
                  {% for key, value in json["bedset_means"].items() %}
                    <li class="list-group-item"><b>{{ descs[key] }}: </b>{{ value }}</li>
                  {% endfor %}
                </ul>
            </div>
            <div style="margin-top:15px"></div>
            <div class="row">
                <h3>Standard deviation of bedset statistics</h3>
            </div>
            <div class="row">
                <ul id="block" class="list-group">
                  {% for key, value in json["bedset_standard_deviation"].items() %}
                    <li class="list-group-item"><b>{{ descs[key] }}: </b>{{ value }}</li>
                  {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-3">
            <h2>Links</h2>
            <ul>
                <li><a href='{{bedset_stats_table_url}}'>BED set individual files stats table</a></li>
            </ul>
            <h2>Downloads</h2>
            <ul>
                <li><a href='{{ bedset_url }}&format=bed'>BED set TAR achive</a></li>
                <li><a href='{{ bedset_url }}&format=json'>JSON metadata</a></li>
                <li><a href='{{ bedset_url }}&format=csv'>BED set statistics</a></li>
                <li><a href='{{ bedset_url }}&format=csv-all'>BED files statistics</a></li>
                <li><a href='{{ bedset_url }}&format=pep'>PEP</a></li>
                <li><a href='{{ bedset_url }}&format=igd'>iGD database</a></li>
            </ul>
          {% if bed_urls is not none and bed_urls|length < 20  %}
            <h2>{{bed_urls|length}} {{ descs["bedset_bed_ids"] }}</h2>
            <ul>
            {% for key, value in bed_urls.items() %}
                <li><a href='{{ value }}'>{{ key }}</a></li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>
    </div>
    </div>
</div>

</div>
{% endblock %}
