{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
{% block head %}
  {{ super() }}
  <script src="../static/query-builder.standalone.min.js"></script>
  <script src="../static/query-builder-elasticsearch.js"></script>
{% endblock %}
    <div class="container">
        <div class="row">
        <div class="col-7" style="margin-left:10px">
          <div class="row">
            <h3>We currently have <i>{{ num_bedfiles }}</i> bed files stored and processed</h3>
          </div>
          <div style="margin-top:15px"></div>
          <div class="row">
              <p>Select your search criteria below:</p>
          </div>
          <div class="row">
              <div id="builder-basic"></div>
          </div>
            <div class="row">
              <div class="btn-group">
                <button id="btn-reset" class="btn btn-warning reset" data-target="basic">Reset <i class="fas fa-undo"></i></button>
                <button id="btn-post-elastic" class="btn btn-primary parse-json" data-target="basic">Search <i class="fas fa-search"></i></button>
                <button id="btn-show-elastic" class="btn btn-secondary parse-json" data-target="basic">Get Elasticsearch query <img src="https://img.icons8.com/color/22/000000/elasticsearch.png"></button>
              </div>
          </div>
          <div style="margin-top:15px"></div>
          <div class="row">
              <div id="search-results">
                <h3>Example search result:</h3>
                    <div>
                      <table class="table table-hover table-sm">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>HTML</th>
                            <th>Raw BED file</th>
                            <th>JSON</th>
                          </tr>
                        </thead>
                        <tbody id="retTable">
                        {% for r in result %}
                        <tr>
                          <td>{{ r[0] }}</td>
                          <td><a href="{{ r[1] }}">{{ r[1] }}</a></td>
                          <td><a href="{{ r[2] }}">{{ r[2] }}</a></td>
                          <td><a href="{{ r[3] }}">{{ r[3] }}</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
              </div>
          </div>
        </div>
          {% if num_bedsets is not none and num_bedsets > 0 %}
            <div class="col-4" style="margin-left:10px">
              <div class="row">
                <h3>We currently have <i>{{ num_bedsets}}</i> bed sets stored and processed</h3>
              </div>
            <div class="row">
                <ul>
                    {% for id in bedset_ids %}
                        <li>
                            {%- set url = "http://%s/%s?id=%s&format=html"|format(bbc.server.host, bedset_api_endpoint, id) -%}
                            <a href="{{ url }}">{{ id }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            </div>
          {% endif %}
      </div>
    </div>
    <script>
      $('#builder-basic').queryBuilder({
        plugins: {
          'bt-tooltip-errors': null
        },


        filters: [
        {% for filter in filters %}
          {
          id: "{{ filter["id"] }}",
          label: "{{ filter["label"] }}",
          type: "{{ filter["type"] }}",
          operators: {{ filter["operators"]|safe }},
          {% if filter["validation"] is not none %}
            validation: {
              min: {{ filter["validation"]["min"] }},
              step: {{ filter["validation"]["step"] }}
            }
          {% endif %}
          }{{ "," if not loop.last }}
        {% endfor %}
        ]
      });

      $('#btn-reset').on('click', function() {
        $('#builder-basic').queryBuilder('reset');
        $('#search-results').html("");
      });

      $('#btn-show-elastic').on('click', function() {
        var result = $('#builder-basic').queryBuilder('getESBool');
        if (!$.isEmptyObject(result)) {
          prompt("Copy the Elasticsearch query to clipboard", JSON.stringify(result, null, 2))
        }
      });

      $('#btn-post-elastic').on('click', function() {
        var result = $('#builder-basic').queryBuilder('getESBool');

        var request = $.ajax({
            url: "/bedfiles_filter_result?html=True",
            type: "post",
            data: JSON.stringify(result),
            contentType: "application/json; charset=utf-8",
            dataType: "html"
            });
        request.done(function(data){
              console.log("Data received: " + data);
              $('#search-results').html(data);
          });
        request.fail(function(jqXHR, textStatus){
              console.log('Something went wrong: ' + textStatus);
          });
        request.always(function(jqXHR, textStatus) {
             console.log('Ajax request was finished')
          });
      })
    </script>
{% endblock %}
