{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
{% block head %}
  {{ super() }}
  <link href="https://cdn.jsdelivr.net/npm/jQuery-QueryBuilder/dist/css/query-builder.default.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/jQuery-QueryBuilder/dist/js/query-builder.standalone.min.js"></script>
  <script src="../static/query-builder-elasticsearch.js"></script>
{% endblock %}
    <div class="container">
      <div class="row">
        <div class="col-4">
          <p class="lead">We currently have <i>{{ num_files }}</i> bed files stored and processed.</p>
        </div>
      </div>
      <div style="margin-top:15px"></div>
      <div class="row">
        <div class="col-12">
          Select your search criteria below:
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div id="builder-basic"></div>
          <div class="btn-group">
            <button id="btn-reset" class="btn btn-warning reset" data-target="basic">Reset</button>
            <button id="btn-get-elastic" class="btn btn-primary parse-json" data-target="basic">Get Elastic query</button>
          </div>
          </div>
        </div>
      </div>
      </div>
    <script src="../static/queryBuilder.js"></script>
{% endblock %}
