{% extends "base.html" %}
{% block title %}Main page{% endblock %}
{% block content %}
<div class="container">

  <h1>Search Results</h1>

  <div>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>Link to html</th>
          <th>Raw file</th>
          <th>JSON</th>
        </tr>
      </thead>
      <tbody id="retTable">
      {% for r in result %}
      <tr>
        <td>{{ r[0] }}</td>
        <td><a href="{{ r[1] }}">{{ r[1] }}</a></td>
        <td><a href="{{ r[2] }}">{{ r[2] }}</a></td>
        <td><a href="{{ r[3] }}">{{ r[3] }}</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endblock %}
