.header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.footer {
    left: 0;
    bottom: 0;
    right: 0;
    font-size: small;
}

.conten-body {
    min-height: 760px
}


.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: teal;
    border-color: teal;
}

/* .home-link {
    color: teal;
} */

/* .home-link:hover {
    color: #e76f51;
} */

/* .btn-primary.focus,
.btn-primary:focus,
.btn-primary.hover,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #FFF;
    background-color: #e76f51;
    border-color: #e76f51;
} */

.my-icon {
    color: #264653;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}

.my-icon:hover,
.my-icon:focus,
.my-icon.disabled,
.my-icon:disabled {
    color: #e76f51;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    opacity: 1
}