.header{
    position:absolute;
    left:0;
    top:0;
    right:0;
}

.footer{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    font-size: small;
}

.conten-body{
    margin-top: 68px;
    height: 88%;
    overflow: scroll ;
}


.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color:teal;
    border-color: teal;
}

.home-link {
    color:teal;
}
.home-link:hover {
    color: #e76f51;
}

.my-btn{
    color: #FFF;
    background-color:#264653;
    border-color: #264653;
}

.primary-btn:hover,
.primary-btn:focus,
.primary-btn.disabled, 
.primary-btn:disabled,
.my-btn:hover,
.my-btn:focus,
.my-btn.disabled, 
.my-btn:disabled{
    color: #FFF;
    background-color:#e76f51;
    border-color:#e76f51;
    opacity: 1
}

.primary-btn{
    color: #FFF;
    background-color:teal;
    border-color:teal;
}

