.splash-img {
  height: 300px;
  width: 300px
}

.splash-link {
  color: #ffffff;
}

.splash-link:hover {
  color:  #e76f51;
  font-weight: bolder;
}

.primary-btn:not(:disabled):not(.disabled).active, 
.primary-btn:not(:disabled):not(.disabled):active,
.show>.primary-btn.dropdown-toggle {
  background-color:  #e76f51;
  border-color: #e76f51
}

.dropdown-item:hover {
  color: white;
  background-color:  #e76f51;
  font-weight: bolder;
}


.MuiGridListTileBar-title:hover{
  font-weight: bolder;
  border-color:  #e76f51;
}

.MuiTableCell-root {
  padding: 5px !important;
}
