body {
  margin: 0;
  margin-top: 20;
  font-family: 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}