# bbconf @ git+https://github.com/databio/bbconf.git@dev#egg=bbconf
bbconf>=0.14.12
fastapi>=0.103.0
sentence_transformers>=5.0
logmuse>=0.2.7
markdown
requests
setuptools
uvicorn
yacman>=1.0.0
pephubclient>=0.4.1
psycopg[binary,pool]
python-multipart>=0.0.9
APScheduler>=3.11.0
cachetools>=4.2.4
bedboss>=0.11.1
Pillow>=10.0.0
#bedboss @ git+https://github.com/databio/bedboss.git@dev#egg=bedboss
