-e git+git://github.com/pepkit/pipestat@dev#egg=pipestat
-e git+git://github.com/pepkit/pipestat_reader@dev#egg=pipestat_reader
-e git+git://github.com/databio/bbconf@dev#egg=bbconf
graphene==2.1.9                
graphene-sqlalchemy==2.3.0                
graphene-sqlalchemy-filter==1.12.2               
graphql-core==2.3.2                
graphql-relay==2.0.1
